body {
    font-family: Segoe UI;
    background: #1e1e1e;
    color: white;
    padding: 20px;
}

#stats {
    margin-bottom: 15px;
}

#alert-box {
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    border-bottom: 1px solid #333;
}

th {
    background: #0078d7;
}

tr:nth-child(even) {
    background: #2a2a2a;
}

button {
    background: red;
    color: white;
    border: none;
    padding: 4px 6px;
    cursor: pointer;
}
